<%- include("partials/header.ejs") %>
    <section
        class="h-screen flex flex-col align-middle justify-center gap-9 border-b-2 overflow-x-hidden bg-no-repeat bg-cover bg-center"
        style="background-image: url(/images/homePageImages/bg2.jpg)">
        <div class="intro text-center">
            <h1 class="text-4xl leading-9 font-extrabold text-cyan-700 lg:text-6xl">
                SHOPIFY
            </h1>
            <p class="sm: text-2xl text-red-900 p-5 font-semibold font-mono lg:text-5xl">
                WELCOME TO THE INDIA'S <br />BIGGEST CLOTHING PLATFORM
            </p>
        </div>
        <div class="images flex align-middle justify-center">
            <img src="/images/homePageImages/background3.jpg" alt="" srcset=""
                class="w-80 rounded-full lg:w-96 hover:opacity-75" />
        </div>
        <div class="button text-center">
            <button class="bg-black text-white p-3 rounded-2xl hover:bg-slate-500 ease-in">
                <a href="#items">SURF NOW</a>
            </button>
        </div>
    </section>
    <section class="clothes" id="items">
        <div class="shirts p-4 border-b-2">
            <p class="text-lg font-bold text-fuchsia-600">SHIRTS</p>
            <p class="text-center">UP to 45% discounts</p>
            <br />
            <div class="right flex gap-5 overflow-scroll no-scrollbar">
                <img src="/images/homePageImages/firstpic.jpg" alt="" srcset="" class="w-56 h-56" />

                <img src="/images/homePageImages/secondpic.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/thirdpic.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/fourthpic.jpg" alt="" srcset="" class="w-56 h-56" />
                <img src="/images/homePageImages/firstpic.jpg" alt="" srcset="" class="w-56 h-56" />

                <img src="/images/homePageImages/secondpic.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/thirdpic.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/fourthpic.jpg" alt="" srcset="" class="w-56 h-56" />
            </div>
        </div>

        <!-- this is for the tshirt section  -->

        <div class="shirts p-4 border-b-2">
            <p class="text-lg font-bold text-cyan-600">T - SHIRTS</p>
            <p class="text-center">UP to 55% discounts</p>
            <br />
            <div class="right flex gap-5 overflow-scroll no-scrollbar">
                <img src="/images/homePageImages/tshirt1.jpg" alt="" srcset="" class="w-56 h-56" />

                <img src="/images/homePageImages/tshirt2.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/tshirt4.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/tshrit3.jpg" alt="" srcset="" class="w-56 h-56" />
                <img src="/images/homePageImages/tshirt1.jpg" alt="" srcset="" class="w-56 h-56" />

                <img src="/images/homePageImages/tshirt2.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/tshrit3.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/tshirt4.jpg" alt="" srcset="" class="w-56 h-56" />
            </div>
        </div>

        <!-- this section is for paints -->
        <div class="shirts p-4 border-b-2">
            <p class="text-lg font-bold text-blue-600">PAINTS</p>
            <p class="text-center">UP to 40% discounts</p>
            <br />
            <div class="right flex gap-5 overflow-scroll no-scrollbar">
                <img src="/images/homePageImages/pants1.jpg" alt="" srcset="" class="w-56 h-56" />

                <img src="/images/homePageImages/pants3.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/pants2.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/pants4.jpg" alt="" srcset="" class="w-56 h-56" />
                <img src="/images/homePageImages/pants1.jpg" alt="" srcset="" class="w-56 h-56" />

                <img src="/images/homePageImages/pants2.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/pants3.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/pants4.jpg" alt="" srcset="" class="w-56 h-56" />
            </div>
        </div>
        <!-- this is for the female clothes? -->
        <div class="shirts p-4 border-b-2">
            <p class="text-lg font-bold text-cyan-600">T - SHIRTS</p>
            <p class="text-center">UP to 55% discounts</p>
            <br />
            <div class="right flex gap-5 overflow-scroll no-scrollbar">
                <img src="/images/homePageImages/tshirt1.jpg" alt="" srcset="" class="w-56 h-56" />

                <img src="/images/homePageImages/tshirt2.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/tshirt4.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/tshrit3.jpg" alt="" srcset="" class="w-56 h-56" />
                <img src="/images/homePageImages/tshirt1.jpg" alt="" srcset="" class="w-56 h-56" />

                <img src="/images/homePageImages/tshirt2.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/tshrit3.jpg" alt="" srcset="" class="w-56 h-56" /><img
                    src="/images/homePageImages/tshirt4.jpg" alt="" srcset="" class="w-56 h-56" />
            </div>
        </div>
    </section>
    </body>

    </html>