<%- include("partials/header.ejs") %>

    <section class="main">
        <div class="header">
            <p class="text-center font-bold p-5">MY CART</p>
        </div>
        <div class="cart lg:flex flex justify-center">
            <div class="items flex flex-col m-7 p-7 gap-3 border border-pink-300 lg:w-2/3">
                <div class="image flex justify-between">
                    <img src="/images/myCartImages/img1.jpg" class="w-36" />
                    <a href="#" class="h-8">
                        <p class="text-blue-300">CANCEL ORDER</p>
                    </a>
                </div>
                <div class="contents">
                    <p class="font-bold">$22.95</p>
                    <p class="font-semibold text-red-600">
                        DENIM SHIRTS WITH COTTON FIBRES AND TAILORED
                    </p>
                    <div class="abouts">
                        <label for="size" class="font-bold">SIZE</label>
                        <select name="cars" id="cars">
                            <option value="SM">SM</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="XL">XL</option>
                        </select>
                        <label for="QUANTITY">QTY</label>
                        <select name="QUANTITY" id="QUANTITY">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <p>TOTAL : <span>1500 $</span></p>
                    </div>
                </div>
                <div class="total flex justify-center gap-3 align-middle">
                    <a href="#"><button class="p-3 bg-pink-950 w-28 text-white rounded-2xl">
                            BUY NOW
                        </button></a>
                </div>
            </div>
        </div>
        <div class="cart lg:flex flex justify-center">
            <div class="items flex flex-col m-7 p-7 gap-3 border border-pink-300 lg:w-2/3">
                <div class="image flex justify-between">
                    <img src="/images/myCartImages/img1.jpg" class="w-36" />
                    <a href="#" class="h-8">
                        <p class="text-blue-300">CANCEL ORDER</p>
                    </a>
                </div>
                <div class="contents">
                    <p class="font-bold">$22.95</p>
                    <p class="font-semibold text-red-600">
                        DENIM SHIRTS WITH COTTON FIBRES AND TAILORED
                    </p>
                    <div class="abouts">
                        <label for="size" class="font-bold">SIZE</label>
                        <select name="cars" id="cars">
                            <option value="SM">SM</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="XL">XL</option>
                        </select>
                        <label for="QUANTITY">QTY</label>
                        <select name="QUANTITY" id="QUANTITY">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <p>TOTAL : <span>1500 $</span></p>
                    </div>
                </div>
                <div class="total flex justify-center gap-3 align-middle">
                    <a href="#"><button class="p-3 bg-pink-950 w-28 text-white rounded-2xl">
                            BUY NOW
                        </button></a>
                </div>
            </div>
        </div>
    </section>
    </body>

    </html>